%header#sub-action
  %ul
    %li= link_to "Done", [position, interview], :class => "done"
#splitview-wrap.group
  %section#view.expand
    #question_details.group
      .q_num= question.question_number
      .question
        %h1
          = question.question
          %span.pts #{pluralize(question.points, "point")}
        .answer
          %h2
            Expected Response
            %span.ret &#x21A9;
          :markdown
            #{question.answer}
    #interviewer_area
      .comment
        = form_for @response, :url => position_interview_question_responses_path(position, interview, question), :remote => true do |f|
          = f.fields_for @response_comment do |rc|
            = rc.label :comment, "Comment on candidate's performance"
            = rc.text_area :comment, :rows => 10, :cols => 100
          %div.action
            = f.submit "Award #{pluralize(question.points, "point")}", :class => "button"
            = f.submit "No points", :class => "r_button"
            or
            = link_to "Skip question", "/"
