- if question.new_record?
  = form_for [template, question], :remote => true do |f|
    .no{:id => "qn_#{index}"}= index
    .entry
      %fieldset
        = f.hidden_field :index, :value => index
        %div
          = f.label :category
          = f.select :category, Question::CATEGORIES, :tabindex => 1
        %div
          = f.label :question
          = f.text_field :question, :size => 50, :class => "first", :tabindex => 2
        %div
          = f.label :answer, "Expected answer"
          = f.text_area :answer, :rows => 3, :cols => 70, :tabindex => 3
      %div.action
        = f.submit "Add question", :class => "button", :tabindex => 5
    .points
      = f.text_field :points, :size => 2, :maxlength => 3, :tabindex => 4
      pts
- else
  .details
    .no= index
    .entry
      %h2
        %span.cat= question.category
        = question.question
      .mode
        = link_to "edit", [:edit, template, question], :class => "edit"
        = link_to "remove", [template, question], :confirm => "Remove \"#{question.question}\". Proceed?", :method => :delete, :class => "remove", :remote => true
      :markdown
        #{question.answer}
    .points
      = question.points
      pts
  .edit_form
