%header#sub-action
  %ul
    %li
      %span.add= link_to "New position", new_position_url

#splitview-wrap.group
  %section#action
    = form_tag("/") do
      = text_field_tag(:q, "", :class => "search", :placeholder => "Find positions")

    -#%ul.list
    -#  %li
    -#    %a.active{:href => "/today"}
    -#      %span Today
    %header
      %hgroup
        %h1 POSITIONS
        = link_to("Options", "/", :class => "options")
    %ul.applicants
      %li
        %h2
          %span.indicator
          C# developer at Central
        .applicant.group
          .avatar= gravatar_image_tag("mech@me.com", :gravatar => { :size => 25 })
          .name= link_to "Swee Me Chai", "/"
          .accessory= link_to "Interview ID", "/"
        .applicant.group
          .avatar= gravatar_image_tag("wycats@gmail.com", :gravatar => { :size => 25 })
          .name= link_to "Yehuda Katz", "/"
          .accessory= link_to "Interview ID", "/"
        .applicant.group
          .avatar= gravatar_image_tag("peepcode@topfunky.com", :gravatar => { :size => 25 })
          .name= link_to "PeepCode", "/"
          .accessory= link_to "Interview ID", "/"
      %li
        %h2
          %span.indicator
          Java Enterprise EE Analyst
        .applicant.group.active
          .avatar= gravatar_image_tag("mech@me.com", :gravatar => { :size => 25 })
          .name= link_to "Swee Me Chai", "/"
          .accessory= link_to "Interview ID", "/"

  %section#view
    .records
      - if @positions.blank?
        %p.welcome Welcome to Interviewer App. Start an interview by #{link_to("creating a position", new_position_path)}.
      - else
        %table.records
          %thead
            %tr
              %th Title
              %th Location
          %tbody
            - @positions.each do |position|
              %tr
                %td.title
                  .wrap
                    %h1= link_to position.title, position
                    %p.desc{:title => position.description}= truncate_words position.description, 60
                    .mode
                      = link_to "edit", [:edit, position], :class => "edit"
                      = link_to "remove", position, :confirm => "Remove \"#{position.title}\". Proceed?", :method => :delete, :class => "remove"
                %td.location= position.location
