%header#sub-action


#splitview-wrap.group
  %section#action
    = form_tag("/") do
      = text_field_tag(:q, "", :class => "search", :placeholder => "Find positions")

    %header
      %hgroup
        %h1 POSITIONS
        = link_to("Options", "/", :class => "options")
        %small Last access 1 day ago

  %section#view
    .records
      - if @positions.blank?
        %p.welcome
          Welcome to Interviewer App. Start an interview by
          = link_to("creating a position.", new_position_path)
      - else
        %table.records
          %thead
            %tr
              %th Title
              %th Location
          %tbody
            - @positions.each do |position|
              %tr
                %td.title
                  %h1= link_to position.title, position
                  %p.desc{:title => position.description}= truncate position.description, 60
                %td.location= position.location
