%header#sub-action
  %ul
    %li.add= link_to "New position", new_position_url

#splitview-wrap.group
  %section#action
    = form_tag("/") do
      = text_field_tag(:q, "", :class => "search", :placeholder => "Find positions")

    %header
      %hgroup
        %h1 POSITIONS
        = link_to("Options", "/", :class => "options")
        %small

  %section#view
    .records
      - if @positions.blank?
        %p.welcome
          Welcome to Interviewer App. Start an interview by
          = link_to("creating a position.", new_position_path)
      - else
        %table.records
          %thead
            %tr
              %th Title
              %th Location
          %tbody
            - @positions.each do |position|
              %tr
                %td.title
                  .wrap
                    %h1= link_to position.title, position
                    %p.desc{:title => position.description}= truncate position.description, 60
                    .mode
                      = link_to "edit", [:edit, position], :class => "edit"
                      = link_to "remove", position, :confirm => "Remove \"#{position.title}\". Proceed?", :method => :delete, :class => "remove"
                %td.location= position.location
