%header#sub-action


#splitview-wrap.group
  %section#action
    = form_tag("/") do
      = text_field_tag(:q, "", :class => "search", :placeholder => "Find positions")

    %header
      %hgroup
        %h1 POSITIONS
        = link_to("Options", "/", :class => "options")
        %small Last access 1 day ago

  %section#view
    .entry
      .guide
        %h2 Open a new position for your next interview.
        You can prepare interview questions after this.
        %small= link_to "More on interview questions", "/help/interviews#questions"

      %header
        %h1 New position
      = form_for @position, :html => {:class => "entry"}, :remote => true do |f|
        = render "shared/error_messages", :target => @position unless @position.errors.blank?
        %fieldset
          %div
            %label{:for => "position_title"}
              Title
            = f.text_field :title, :size => 40

          %div
            %label{:for => "position_description"}
              Description
              %small Requirements, salary, etc.
            = f.text_area :description, :rows => 10, :cols => 70

          %div
            = f.label :location, "Location"
            = f.text_field :location, :size => 40

        %div.action
          = f.submit "Add position", :class => "button"
