%header#sub-action
  %ul.group
    %li
      %span.add
        = link_to "New position", new_position_url, :class => "pop_over"
        .popover-wrap
          .pointer
          .content
            %ul
              %li= link_to "Add position", new_position_url
              %li= link_to "Add interview stage", [:new, @position, :stage]

    %li
      %span.edit
        = link_to "Edit position", [:edit, @position]
    %li
      %span.remove
        = link_to "Remove position", @position, :confirm => "Remove \"#{@position.title}\". Proceed?", :method => :delete

#splitview-wrap.group
  %section#action
    = form_tag("/") do
      = text_field_tag(:q, "", :class => "search", :placeholder => "Find positions")

    %header
      %hgroup
        %h1 POSITIONS
        = link_to("Options", "/", :class => "options")
        %small

  %section#view
    #job_details
      %h1= @position.title
      %ul.minibar
        %li.location= @position.location
        %li.date= relative_date @position.created_at
      .notes
        :markdown
          #{@position.description}

    #stages.group
      %nav
        %ul
          %li Stages
          - @position.stages.each do |stage|
            %li= link_to stage.stage_number

    #interviews-wrap
      #content
        Some long text
