%header#sub-action
  %ul
    %li.add= link_to "New position", new_position_url

#splitview-wrap.group
  %section#action
    = form_tag("/") do
      = text_field_tag(:q, "", :class => "search", :placeholder => "Find positions")

    %header
      %hgroup
        %h1 POSITIONS
        = link_to("Options", "/", :class => "options")
        %small

  %section#view
    #job_details
      %h1= @position.title
      %ul.minibar
        %li.location= @position.location
        %li.date= relative_date @position.created_at
      .notes
        :markdown
          #{@position.description}
