%header#sub-action

#splitview-wrap.group
  %section#action
    = form_tag("/") do
      = text_field_tag(:q, "", :class => "search", :placeholder => "Find positions")

    %header
      %hgroup
        %h1 POSITIONS
        = link_to("Options", "/", :class => "options")
        %small

  %section#view
    #interview_details.group
      .info
        .b_avatar= gravatar_image_tag(@interview.candidate_email, :class => "avatar")
        %h1= @interview.candidate_name
        %ul
          %li.when= interview_datetime(@interview.when)
          %li.where= @interview.where
        %p= link_to "Stage #{@interview.stage_number} for #{@position.title}", @position, :class => "fw"
      = link_to "Start Interviewing...", [@position, @interview], :class => "action"

    #interviews-wrap
      #content
        Some long text
