%header#sub-action

#splitview-wrap.group
  %section#action
    = form_tag("/") do
      = text_field_tag(:q, "", :class => "search", :placeholder => "Find positions")

    %header
      %hgroup
        %h1 POSITIONS
        = link_to("Options", "/", :class => "options")
        %small

  %section#view
    #interview_details.group
      .info
        .b_avatar= gravatar_image_tag(@interview.candidate_email, :class => "avatar")
        %h1= @interview.candidate_name
        %ul
          %li.when= interview_datetime(@interview.when)
          %li.where= @interview.where
        %p= link_to "Stage #{@interview.stage_number} for #{@position.title}", @position, :class => "fw"
      = render "status", :position => @position, :interview => @interview

    #interviews-wrap
      #content
        %table#questions
          %thead
            %tr
              %th No.
              %th Question
              %th Points
              %th Marks
          %tbody
            - @interview.stage.stage_questions.each do |question|
              - response = @interview.responses.where(question_number: question.question_number).limit(1).first
              %tr
                %td.index= question.question_number
                %td.question= question.question
                %td.points= question.points
                %td{:class => (response.passed? ? "passed" : "failed")}= response.points
            %tr
              %td.total_l{:colspan => 2} Total
              %td.total{:colspan => 2}= @interview.responses.sum(&:points)

