%header#sub-action
  %ul
    %li
      %span.add= link_to "New template", new_template_url
    %li
      %span.list_view= link_to "List view", browse_templates_path(:view => "list"), :title => "List view"
    %li
      %span.grid_view= link_to "Grid view", browse_templates_path, :title => "Grid view"

#splitview-wrap.group
  %section#action
    = form_tag("/") do
      = text_field_tag(:q, "", :class => "search", :placeholder => "Find templates")

    #pinned
      %h1
        %span.pinned= image_tag "pinned.png"
        Pinned stages
      %ul
        - PinStage.all.each do |pin_stage|
          %li= link_to truncate(pin_stage.position_title_with_stage, :length => 25), "/", :title => pin_stage.position.title, :id => dom_id(pin_stage)

    .tear_off
      
    %header
      %hgroup
        %h1 TEMPLATES
        = link_to("Options", "/", :class => "options")

  %section#view
    = render "pinned_stage_guide" 
    .records.group
      - if @templates.blank?
        %p.welcome No template available. Do you want to #{link_to("create one", new_template_path)}?
      - else
        .template_records.group
          = will_paginate(@templates, :page_links => false, :class => "prev")
          %ul
            - @templates.each_with_index do |template, index|
              %li
                .loading
                .sheet{:class => index == 0 ? "selected" : "", :id => dom_id(template)}
                  = render "text_block", :template => template
                = link_to truncate(template.name, :length => 15), template, :class => "sheet_name", :title => template.name
          = will_paginate(@templates, :page_links => false, :class => "next")

        #questions_view
          = render "questions", :template => @templates.first
