%header#sub-action
  %ul
    %li
      %span.add= link_to "New template", new_template_url

#splitview-wrap.group
  %section#action
    = form_tag("/") do
      = text_field_tag(:q, "", :class => "search", :placeholder => "Find templates")

    #pinned
      %h1
        %span.pinned= image_tag "pinned.png"
        Pinned stages
      %ul
        %li Pin 1
        %li Pin 1
    .tear_off
      
    %header
      %hgroup
        %h1 TEMPLATES
        = link_to("Options", "/", :class => "options")

  %section#view
    = render "pinned_stage_guide" 
    .records.group
      - if @templates.blank?
        %p.welcome No template available. Do you want to #{link_to("create one", new_template_path)}?
      - else
        .template_records.group
          = will_paginate(@templates, :page_links => false, :class => "prev")
          %ul
            - @templates.each do |template|
              %li
                .sheet
                  = render "text_block", :template => template
                = link_to truncate(template.name, :length => 15), template, :class => "sheet_name", :title => template.name
          = will_paginate(@templates, :page_links => false, :class => "next")
