%header#sub-action


#splitview-wrap.group
  %section#action
    = form_tag("/") do
      = text_field_tag(:q, "", :class => "search", :placeholder => "Find jobs")

    %header
      %hgroup
        %h1 JOB OPENINGS
        = link_to("Options", "/", :class => "options")
        %small Last access 1 day ago

  %section#view
    .records
      %table.records
        %thead
          %tr
            %th Title
            %th Location
        %tbody
          - @jobs.each do |job|
            %tr
              %td.title
                %h1= link_to job.title, job
                %p.desc{:title => job.description}= truncate job.description, 60
              %td.location= job.location
