%nav
  %ul
    %li= link_to("Template", "/templates")
    %li= link_to("Interviews", "/interviews")
    %li
      = link_to("Jobs", jobs_url, :class => "sub")
      %ul.sub
        %li= link_to("All jobs", jobs_path)
        %li= link_to("New job", new_job_path)
