%nav
  %ul
    %li
      = link_to("Templates", templates_path, :class => "sub")
      %ul.sub
        %li= link_to("Browse templates", browse_templates_path)
        %li= link_to("New template", new_template_path)
    %li= link_to("Interviews", "/interviews")
    %li
      = link_to("Positions", positions_url, :class => "sub")
      %ul.sub
        %li= link_to("All positions", positions_path)
        %li= link_to("New position", new_position_path)
