%header#sub-action


#splitview-wrap.group
  %section#action
    = form_tag("/") do
      = text_field_tag(:q, "", :class => "search", :placeholder => "Find positions")

    %header
      %hgroup
        %h1 POSITIONS
        = link_to("Options", "/", :class => "options")
        %small Last access 1 day ago

  %section#view
    .entry
      .question_guide
        %h2 Add a new interview stage
        = link_to @position.title, @position, :class => "fw"

      .welcome
        You're about to add Stage #{@next_stage_number} for this position. Proceed?
        = form_for [@position, @stage] do |f|
          = f.submit "Yes, please.", :class => "button"
          or
          = link_to "Not at the moment", @position
