%header#sub-action
  %ul
    %li
      %span.action
        = link_to "Action sheet", [@position, @stage], :class => "pop_over"
        .popover-wrap
          .pointer
          .content
            %ul
              %li= link_to "Save As Template...", [:save_as_templates, @position, @stage], :class => "sst"

      %span.remove= link_to "Remove all questions", [@position, @stage, :stage_questions], :confirm => "This will remove all questions for this stage. Proceed?", :method => :delete

#splitview-wrap.group
  %section#action
    = form_tag("/") do
      = text_field_tag(:q, "", :class => "search", :placeholder => "Find positions")
    %header
      %hgroup
        %h1 POSITIONS
        = link_to("Options", "/", :class => "options")
        

  %section#view
    = render "templates/new_template_drawer", :position => @position, :stage => @stage
    .entry
      .question_guide
        %h1 Stage #{@stage_index} interview for #{@position.title}
        %p.pin= link_to "Pin this stage to the side", [:pinned, @position, @stage], :class => "pin_stage", "data-stage-number" => @stage.stage_number
        .points
          = form_for [@position, @stage], :remote => true do |f|
            = f.text_field :points, :size => 2, :maxlength => 3
          \/
          %span= pluralize @stage.full_mark, "point"

      %ul#questions.sortable{:data => {"sort-url" => sort_position_stage_stage_questions_path(@position, @stage)}}
        = render "stage_questions/questions", :stage => @stage
