%header#sub-action
  %ul
    %li
      %span.action
        = link_to "Action sheet", [@position, @stage], :class => "pop_over"
        .popover-wrap
          .pointer
          .content
            %ul
              %li= link_to "Save as template...", [:templates, @position, @stage], :class => "sst"

      %span.remove= link_to "Remove all questions", [@position, @stage, :stage_questions], :confirm => "This will remove all questions for this stage. Proceed?", :method => :delete

#splitview-wrap.group
  %section#action
    = form_tag("/") do
      = text_field_tag(:q, "", :class => "search", :placeholder => "Find positions")
    %header
      %hgroup
        %h1 POSITIONS
        = link_to("Options", "/", :class => "options")
        

  %section#view
    .drawer
      .content.group
        = form_for :template, :url => [:templates, @position, @stage], :html => {:class => "entry"}, :remote => true do |f|
          %fieldset
            %div
              %label{:for => "template_name"}
                Template Name
              = f.text_field :name, :size => 42, :class => "first"
              = f.check_box :public
              %label{:for => "template_public", :class => "cb"} Share with public
            %p.tips
              Name your template on the industries or fields your questions are based on.
              %span.eg e.g. Mid-level Java Developer
              Do not append the word &quot;questions&quot; behind.
          %div.action
            = f.submit "Save as template", :class => "button"
    .entry
      .question_guide
        %h2 Stage #{@stage_index} interview
        = link_to @position.title, @position, :class => "fw"
        %p.pin= link_to "Pin this stage to the side", [:pinned, @position, @stage], :class => "pin_stage", "data-stage-number" => @stage.stage_number
        .points
          = form_for [@position, @stage], :remote => true do |f|
            = f.text_field :points, :size => 2, :maxlength => 3
          \/
          %span= pluralize @stage.full_mark, "point"

      %ul#questions.sortable{:data => {"sort-url" => sort_position_stage_stage_questions_path(@position, @stage)}}
        = render "stage_questions/questions", :stage => @stage
