%header#sub-action


#splitview-wrap.group
  %section#action
    = form_tag("/") do
      = text_field_tag(:q, "", :class => "search", :placeholder => "Find positions")

    %header
      %hgroup
        %h1 POSITIONS
        = link_to("Options", "/", :class => "options")
        %small Last access 1 day ago

  %section#view
    .entry
      .question_guide
        %h2 Stage #{@stage_index} interview
        = link_to @position.title, @position, :class => "fw"
        .points
          50 points

      %p.trash= link_to "Remove all questions", [@position, @stage, :stage_questions], :confirm => "This will remove all questions for this stage. Proceed?", :method => :delete

      %ul#questions.sortable{:data => {"sort-url" => sort_position_stage_stage_questions_path(@position, @stage)}}
        = render "stage_questions/questions", :stage => @stage
